<header>
    <div id="meinName">
        <img src="/assets/images/logo.png" alt="">
    </div>
    <div id="navBar">
        <a href="">{{ 'header.ABOUT_ME' | translate }}</a>
        <a href="">{{ 'header.SKILLS' | translate }}</a>
        <a href="">{{ 'header.MY_WORK' | translate }}</a>
        <button (click)="changeLanguage('de')">{{ 'header.LANGUAGE_DE' | translate }}</button>
        <button (click)="changeLanguage('en')">{{ 'header.LANGUAGE_EN' | translate }}</button>
    </div>
</header>