section {
  background: linear-gradient(to bottom, #81a3fa, #4c74da);
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;

  #content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1920px;
    margin-left: 20%;
    margin-right: 20%;

    @media (max-width: 900px) {
      margin-left: 3%;
      margin-left: 3%;
    }

    h1 {
      font-family: "Baloo 2";
      font-weight: 800;
      font-size: 6rem;
      color: #fff;
      margin-bottom: 2%;

      @media (max-width: 900px) {
        font-size: 50px;
      }
    }

    #icons-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @media (max-width: 900px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      .icons {
        width: 160px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: transform 0.3s ease;
        img {
          height: auto;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          transition: inherit;

          @media (max-width: 900px) {
            max-width: 60px;
            max-height: 60px;
          }
        }
        &:hover {
          transform: scale(1.1);
        }

        @media (max-width: 900px) {
          width: auto;
          height: 80px;
        }
        span {
          color: white;
          font-family: "Montserrat";
        }
      }
    }
  }
}
