<section>

    <div class="ellipse ellipse5"></div>
    <div class="ellipse ellipse6"></div>

    <div id="content">


        <div id="header">
            <h1>Contact</h1>
        </div>

        <div id="main">

            <div id="left-content">
                <h2>Got a problem zo solve?</h2>
                <br>
                <br>
                <p>Contact me through this form, I am interested in hearing from you, knowing your
                    ideas and contributing to your projects with my work
                </p>
                <br>
                <span>Need a Frontend developer?</span>
                <h3>Contact me!</h3>
            </div>

            <div id="right-content">
                <input type="text" name="name" id="name" required placeholder="Your name">

                <input type="email" name="email" type="email" required=""
                    pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" placeholder="Your email">

                <textarea name="message" id="message" required minlength="5" placeholder="Your message"></textarea>

                <div id="checkbox">
                    <input type="checkbox" name="privacy">

                    <label for="privacy"> I have read the privacy-policy and agree to the processing of my data.</label>

                </div>

                <button type="submit" id="send-button">say hello :)</button>

                <a href="#header"> <img id="arrow-top" src="/assets/images/arrow-top.png" alt=""></a>
            </div>

        </div>
    </div>
</section>