<section>

    <div id="left-content">

        <img src="/assets/images/Adobe Express - file.png" alt="">
    </div>

    <div id="right-content">
        <p id="hallo">Hallo! ich bin Muhammad</p>
        <div id="frontend">
            <h1 id="top">FRONTEND</h1>
            <h1>DEVELOPER</h1>

        </div>
        <p id="scroll">Scroll</p>
        <div id="scroll-line"></div>
    </div>



    <div id="icons">
        <a href="https://www.github.com/" target="_blank" rel="noopener noreferrer"><img
                src="/assets/images/Github button s2.png" alt="Github"></a>
        <a href="https://www.google.com/" target="_blank" rel="noopener noreferrer"><img
                src="/assets/images/Email button s2.png" alt="Github"></a>
        <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer"><img
                src="/assets/images/Linkedin button s2.png" alt="Github"></a>
    </div>
</section>