<section>
    <div id="content">

        <h1>Skills</h1>


        <div id="icons-container">

            <img src="/assets/images/Frame 18.png" alt="">
            <img src="/assets/images/Frame 7.png" alt="">
            <img src="/assets/images/Frame 8.png" alt="">
            <img src="/assets/images/Frame 9.png" alt="">
            <img src="/assets/images/Frame 10.png" alt="">
            <img src="/assets/images/Frame 11.png" alt="">
            <img src="/assets/images/Frame 12.png" alt="">
            <img src="/assets/images/Frame 13.png" alt="">
            <img src="/assets/images/Frame 14.png" alt="">
            <img src="/assets/images/Frame 15.png" alt="">
            <img src="/assets/images/Frame 16.png" alt="">
            <img src="/assets/images/Frame 17.png" alt="">
            <img src="/assets/images/Frame 6.png" alt="">


        </div>
    </div>
</section>