section {
  background: linear-gradient(to bottom, #81a3fa, #4c74da);
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;

  #content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1920px;
    margin-left: 20%;
    margin-right: 20%;

    h1 {
      font-family: "Baloo 2";
      font-weight: 800;
      font-size: 6rem;
      color: #fff;
      margin-bottom: 2%;
    }

    #icons-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
     

    .icons {
        width: 160px;
    }
    }
  }
}
