<section>
    <div id="content">

        <h1>Skills</h1>


        <div id="icons-container">


            <div class="icons">
                <img src="/assets/images/Frame 6.png" alt="">
            </div>
            <div class="icons">
                <img src="/assets/images/Frame 7.png" alt="">
            </div>
            <div class="icons">
                <img src="/assets/images/Frame 8.png" alt="">
            </div>
            <div class="icons">
                <img src="/assets/images/Frame 9.png" alt="">
            </div>
            <div class="icons">
                <img src="/assets/images/Frame 10.png" alt="">
            </div>
            <div class="icons">
                <img src="/assets/images/Frame 11.png" alt="">
            </div>
            <div class="icons">
                <img src="/assets/images/Frame 12.png" alt="">
            </div>
            <div class="icons">
                <img src="/assets/images/Frame 13.png" alt="">
            </div>

            <div class="icons">
                <img src="/assets/images/Frame 18.png" alt="">

            </div>
            <div class="icons">
                <img src="/assets/images/Icon + Name s2.png" alt="">
            </div>


        </div>
    </div>
</section>