section {
  height: calc(72vh);
  overflow-y: hidden;
  
 

  .ellipse {
    position: absolute;
    z-index: 0;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
  }

  .ellipse5 {
    background-image: url("/assets/images/blue6.png");
    width: 10%;
    aspect-ratio: 1/1;
    right: 20%;
    bottom: 30%;
  }

  .ellipse6 {
    background-image: url("/assets/images/blue7.png");
    width: 5%;
    aspect-ratio: 1/1;
    left: 10%;
    bottom: 30%;
  }
  font-family: "Montserrat";
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #ffffff, #a5b7e6);
  width: 100%;

  padding-top: 100px;

  #content {
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 8%;
    margin-right: 8%;

    h2 {
      font-family: "Baloo 2";
      font-size: 46px;
      color: #5988ff;
    }

    span {
      font-size: 20px;
    }
  }
}
