<section id="contact">

    <div class="ellipse ellipse5"></div>
    <div class="ellipse ellipse6"></div>

    <div id="content">


        <div id="header">
            <h1>{{'contact.TITLE' | translate}}</h1>
        </div>

        <div id="main">

            <div id="left-content">
                <h2>{{'contact.PROBLEM' | translate}}</h2>
                <br>
                <br>
                <p>{{'contact.INTRO' | translate}}</p>
                <br>
                <span>{{'contact.NEED' | translate}}</span>
                <h3>{{'contact.CONTACT_ME' | translate}}</h3>
            </div>

            <div id="right-content">
                <form (ngSubmit)="onSumbit(contactForm)" #contactForm="ngForm">
                    @if(submitted && (name.invalid || (name.touched && !name.valid))){<span class="warning">{{ 'contact.NAME_REQUIRED' |
                        translate }}</span>}

                    <input #name="ngModel" [(ngModel)]="contactData.name" name="name" type="text" name="name" id="name"
                        placeholder="{{'contact.NAME_PLACEHOLDER' | translate}}" required
                        [ngClass]="{'invalid':(!name.valid && (name.touched || submitted))}">

                    @if(submitted && (email.invalid || (email.touched && !email.valid))){<span class="warning">{{
                        'contact.EMAIL_REQUIRED' |
                        translate }}</span>}
                    <input #email="ngModel" [(ngModel)]="contactData.email" name="email" type="email"
                        placeholder="{{ 'contact.EMAIL_PLACEHOLDER' | translate }}" required
                        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                        [ngClass]="{'invalid': (!email.valid && (email.touched || submitted))}">

                    @if(submitted && (message.invalid || (message.touched && !message.valid))){<span class="warning">{{
                        'contact.MESSAGE_EMPTY' | translate }}</span>}


                    <textarea #message="ngModel" [(ngModel)]="contactData.message" name="message" id="message"
                        placeholder="{{ 'contact.MESSAGE_PLACEHOLDER' | translate }}" required minlength="5"
                        [ngClass]="{'invalid': (!message.valid && (message.touched || submitted))}"></textarea>

                        



                    <div id="checkbox">
                       <input type="checkbox" [(ngModel)]="contactData.privacy" name="privacy" #privacy="ngModel"
                        required [ngClass]="{'invalid': (!contactData.privacy)}" />
                    <label for="privacy">
                        {{ 'contact.PRIVACY_READ' | translate }}
                        <a routerLink="/privacy">{{ 'contact.PRIVACY_POLICY' | translate }}</a>
                        {{ 'contact.PRIVACY_AGREE' | translate }}
                    </label>

                    </div>




                    <button type="submit" id="send-button" [disabled]="!contactForm.form.valid">{{'contact.BUTTON_TEXT' | translate}}</button>


                </form>
                <a href="#me"> <img id="arrow-top" src="assets/images/arrow-top.png" alt=""></a>
            </div>

        </div>
    </div>
</section>