<section id="contact">

    <div class="ellipse ellipse5"></div>
    <div class="ellipse ellipse6"></div>

    <div id="content">


        <div id="header">
            <h1>{{'contact.TITLE' | translate}}</h1>
        </div>

        <div id="main">

            <div id="left-content">
                <h2>{{'contact.PROBLEM' | translate}}</h2>
                <br>
                <br>
                <p>{{'contact.INTRO' | translate}}</p>
                <br>
                <span>{{'contact.NEED' | translate}}</span>
                <h3>{{'contact.CONTACT_ME' | translate}}</h3>
            </div>

            <div id="right-content">
                <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

                    <input [(ngModel)]="contactData.name" type="text" name="name" id="name"
                        placeholder="{{'contact.NAME_PLACEHOLDER' | translate}}">
                    @if (formErrors.name) {
                    <p class="warning">{{formErrors.name}}</p>
                    }

                    <input [(ngModel)]="contactData.email" type="email" name="email" type="email" required=""
                        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                        placeholder="{{'contact.EMAIL_PLACEHOLDER' | translate}}">
                    @if (formErrors.email) {
                    <p class="warning">{{formErrors.email}}</p>
                    }

                    <textarea #message="ngModel" [(ngModel)]="contactData.message" name="message" id="message" required
                        minlength="5" placeholder="{{'contact.MESSAGE_PLACEHOLDER' | translate}}"></textarea>
                    @if(formErrors.message) {
                    <p class="warning">{{formErrors.message}}</p>
                    }


                    <div id="checkbox">
                        <input type="checkbox" name="privacy" [(ngModel)]="contactData.privacy">

                        <label> {{'contact.PRIVACY_READ' | translate}} <a routerLink="/privacy"
                                class="privacy-link">{{'contact.PRIVACY_POLICY' | translate}}</a>
                            {{'contact.PRIVACY_AGREE' | translate}} </label>

                    </div>
                    @if(formErrors.privacy) {
                    <p class="warning">{{formErrors.privacy}}</p>
                    }

                    <button type="submit" id="send-button" [disabled]="!isFormValid()">{{'contact.BUTTON_TEXT' |
                        translate}}</button>


                </form>
                <a href="#me"> <img id="arrow-top" src="/assets/images/arrow-top.png" alt=""></a>
            </div>

        </div>
    </div>
</section>