<section id="me">
    <div id="content">


        <div id="left-content">

            <img src="assets/images/profile-img.png" alt="">
        </div>

        <div id="right-content">
            <p id="hallo">{{'me.HELLO' | translate}}</p>
            <div id="frontend">
                <h1 id="top">{{'me.FRONTEND' | translate}}</h1>
                <h1>{{'me.DEVELOPER' | translate}}</h1>

            </div>
            <p id="scroll">{{'me.SCROLL' | translate}}</p>
            <div id="scroll-line"></div>
        </div>



        <div id="icons">
            <a href="https://www.github.com/" target="_blank" rel="noopener noreferrer">
                <img src="assets/images/Github button s2.png" alt="Github">
            </a>
            <a href="#contact" rel="noopener noreferrer">
                <img src="assets/images/Email button s2.png" alt="Email">
            </a>
            <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">
                <img src="assets/images/Linkedin button s2.png" alt="LinkedIn">
            </a>
        </div>
    </div>
</section>