<section>
    <div id="content">

        <div id="headline">
            <h1>My work</h1>

            <p>Explore a selection of my work hiere - Interact with projects to see my skills in action.<p>
        </div>

        <div id="join">
            <div id="description">
                <h2>Join</h2>
                <p>JavaScript | Firebase | HTML | CSS</p>
                <span>Task Manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, 
                    assign users and categories</span>
            </div>
        </div>

    </div>
</section>
