section {
  font-family: "Baloo 2";
  #content {
    #headline {
      h1 {
        color: #5988ff;
        margin-bottom: 2%;
        white-space: nowrap;
        line-height: 1;
        font-size: 100px;
      }

      p {
        font-family: Montserrat;
        font-size: 1.375rem;
        font-weight: 400;
      }
    }
  }
}
