<section id="privacy">
    <div id="content">
        <h2>{{ 'PRIVACY.TITLE' | translate }}</h2>
        <h3>{{ 'PRIVACY.SECTION1_TITLE' | translate }}</h3>
        <br>
        <h3>{{ 'PRIVACY.GENERAL_TITLE' | translate }}</h3>
        <span [innerHTML]="'PRIVACY.GENERAL_CONTENT' | translate"></span>
        <br><br>
        
        <h3>{{ 'PRIVACY.DATA_COLLECTION_TITLE' | translate }}</h3>
        <br>
        <h3 [innerHTML]="'PRIVACY.WHO_TITLE' | translate"></h3>
        <span [innerHTML]="'PRIVACY.WHO_CONTENT' | translate"></span>
        <br><br>
        
        <h3>{{ 'PRIVACY.HOW_TITLE' | translate }}</h3>
        <span [innerHTML]="'PRIVACY.HOW_CONTENT' | translate"></span>
        <br><br>
        
        <h3>{{ 'PRIVACY.USE_TITLE' | translate }}</h3>
        <span [innerHTML]="'PRIVACY.USE_CONTENT' | translate"></span>
        <br><br>
        
        <h3>{{ 'PRIVACY.RIGHTS_TITLE' | translate }}</h3>
        <span [innerHTML]="'PRIVACY.RIGHTS_CONTENT' | translate"></span>
        <br><br>
        
        <h3>{{ 'PRIVACY.SECTION2_TITLE' | translate }}</h3>
        <br>
        <h3>{{ 'PRIVACY.DATA_PROTECTION_TITLE' | translate }}</h3>
        <span [innerHTML]="'PRIVACY.DATA_PROTECTION_CONTENT' | translate"></span>
        <br><br>
        
        <h3>{{ 'PRIVACY.RESPONSIBLE_TITLE' | translate }}</h3>
        <br>
        <span>
            {{ 'PRIVACY.RESPONSIBLE_CONTENT' | translate }} <br><br>
            <p [innerHTML]="'PRIVACY.ADDRESS' | translate"></p>
            <p [innerHTML]="'PRIVACY.CONTACT_INFO' | translate"></p>
            <br>
            <span [innerHTML]="'PRIVACY.RESPONSIBLE_DEFINITION' | translate"></span>
        </span>
        <br><br>
        
        <h3>{{ 'PRIVACY.STORAGE_TITLE' | translate }}</h3>
        <span [innerHTML]="'PRIVACY.STORAGE_CONTENT' | translate"></span>
        <br><br>
        
        <h3>{{ 'PRIVACY.LEGAL_BASIS_TITLE' | translate }}</h3>
        <span [innerHTML]="'PRIVACY.LEGAL_BASIS_CONTENT' | translate"></span>
        <br><br>
        
        <h3>{{ 'PRIVACY.RECIPIENTS_TITLE' | translate }}</h3>
        <span [innerHTML]="'PRIVACY.RECIPIENTS_CONTENT' | translate"></span>
        <br><br>
        
        <h3>{{ 'PRIVACY.REVOCATION_TITLE' | translate }}</h3>
        <span [innerHTML]="'PRIVACY.REVOCATION_CONTENT' | translate"></span>
        <br><br>
        
        <h3>{{ 'PRIVACY.OBJECTION_TITLE' | translate }}</h3>
        <span [innerHTML]="'PRIVACY.OBJECTION_CONTENT' | translate"></span>
        <br><br>
        
        <h3>{{ 'PRIVACY.COMPLAINT_TITLE' | translate }}</h3>
        <span [innerHTML]="'PRIVACY.COMPLAINT_CONTENT' | translate"></span>
        <br><br>
        
        <h3>{{ 'PRIVACY.DATA_PORTABILITY_TITLE' | translate }}</h3>
        <span [innerHTML]="'PRIVACY.DATA_PORTABILITY_CONTENT' | translate"></span>
        <br><br>
        
        <h3>{{ 'PRIVACY.INFO_CORRECTION_DELETION_TITLE' | translate }}</h3>
        <span [innerHTML]="'PRIVACY.INFO_CORRECTION_DELETION_CONTENT' | translate"></span>
        <br><br>
        
        <h3>{{ 'PRIVACY.RESTRICTION_TITLE' | translate }}</h3>
        <span [innerHTML]="'PRIVACY.RESTRICTION_CONTENT' | translate"></span>
    </div>
</section>