#privacy {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Montserrat";

  h2 {
    font-family: "Baloo 2";
    font-size: 36px;
    color: #5988ff;
  }

  h3 {
    font-weight: 400;
    color: #5988ff;
  }

  #content {
    max-width: 1920px;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
