section {
  width: 100%;
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  font-family: "Baloo 2";
 

  .ellipse {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
  }

  .ellipse5 {
    background-image: url("/assets/images/Ellipse 5.png");
    width: 10%;
    aspect-ratio: 1/1;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);

    @media(max-width:700px) {
      width: 150px;
      top: -10%;
      
    }

     
  }

  .ellipse6 {
    background-image: url("/assets/images/Ellipse 6.png");
    width: 5%;
    aspect-ratio: 1/1;
    bottom: 60%;
    right: 25%;

     @media (max-width: 1500px) {
      top: 50px;
      right: 10px;
      width: 70px;
    }

    @media (max-width: 420px) {
      top: 30px;
      right: 10px;
      width: 50px;
    }
  }

  #content {
    max-width: 1920px;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
    margin-bottom: 5%;

    display: flex;
    justify-content: space-between;

    @media (max-width: 1200px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    #headline {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-size: 40px;

      h1 {
        color: #5988ff;
        margin-bottom: 2%;
        white-space: nowrap;
        line-height: 1;
        font-size: 100px;

        @media (max-width: 1200px) {
          font-size: 50px;
          margin-top: 80px;;
        }
      }
    }
  }

  #right-content {
    display: flex;
    justify-content: flex-end;

    @media(max-width:1200px) {
     
    }

    #text-content {
      width: 60%;
      display: flex;
      flex-direction: column;
      margin-top: 20%;

      @media (max-width: 1200px) {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      span {
        color: #000;
        font-family: "Montserrat";
        margin-bottom: 2%;
        font-weight: 400;
        font-size: 19px;

        @media (max-width: 1200px) {
          font-size: 17px;
        }
      }

      #text-button {
        color: #5988ff;
        border-color: #5988ff;
        background-color: #fff;

        &:hover {
          background: linear-gradient(to right, #0043f0, #5988ff);
          color: #fff;
          border-color: none;
        }
      }

      button {
        padding: 10px 20px;
        border: solid 2px;
        border-radius: 10px;
        cursor: pointer;
        white-space: nowrap;
        font-size: 23px;
        margin-top: 15px;
      }
    }
  }
}
