<section id="letswork">
    <div class="ellipse ellipse5"></div>
    <div class="ellipse ellipse6"></div>

    <div id="content">

        <div id="left-content">
            <div id="headline">
                <h1>
                    Let's work<br>
                    together
                </h1>


            </div>


        </div>


        <div id="right-content">
            <div id="text-content">
                <span>
                  {{'letswork.INTRO' | translate}}
                </span>

                <span>{{'letswork.CONTACT_MESSAGE' | translate}}</span>

                <a href="#contact"><button id="text-button">{{'letswork.SEND_MESSAGE' | translate}}</button></a>

            </div>


        </div>




    </div>
</section>