
* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth
    
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100vh;
  overflow-y: auto; 
  overflow-x: hidden; 
  margin: 0;
  padding: 0;
}





@font-face {
  font-display: swap; 
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/baloo-2-v22-latin-500.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/baloo-2-v22-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/baloo-2-v22-latin-500.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/baloo-2-v22-latin-800.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/montserrat-v30-latin-regular.woff2') format('woff2'); 
}