<section id="mywork">

    <div class="ellipse ellipse5"></div>
    <div class="ellipse ellipse6"></div>
    <div class="ellipse ellipse7"></div>
    <div class="ellipse ellipse8"></div>
    <div class="ellipse ellipse9"></div>
    


    <div id="content">

        <div id="headline">
            <h1>{{'mywork.TITLE' | translate}}</h1>

            <p>{{'mywork.SUBTITLE' | translate}}<p>
        </div>

        <div id="join">
            <div id="description">
                <h2>{{'mywork.PROJECT.TITLE.JOIN' | translate}}</h2>
                <p>JavaScript | Firebase | HTML | CSS</p>
                <span>{{ 'mywork.PROJECT.DESCRIPTION.JOIN' | translate }}</span>

                    <div id="buttons">
                        <a href="https://www.google.com/" target="_blank"><button class="test-button">Live test</button></a>
                        <a href="https://www.github.com/" target="_blank"><button class="github-button">github</button></a>
                    </div>
            </div>

            <div id="project-content">
                <img src="/assets/images/Component 1.png" alt="">
            </div>
        </div>


        <!----->


        <div id="pollo">
            <div id="description">
                <h2>{{ 'mywork.PROJECT.TITLE.POLLO_LOCO' | translate }}</h2>
                <p>JavaScript | HTML | CSS</p>
                <span>{{ 'mywork.PROJECT.DESCRIPTION.POLLO_LOCO' | translate }}</span>

                    <div id="buttons">
                        <a href="https://www.google.com/" target="_blank"><button class="test-button">Live test</button></a>
                        <a href="https://www.github.com/" target="_blank"><button class="github-button">github</button></a>
                    </div>
            </div>

            <div id="project-content">
                <img src="/assets/images/El pollo loco.png" alt="">
            </div>
        </div>
    <!------->

    </div>
</section>
