<section>

    <div class="ellipse ellipse5"></div>
    <div class="ellipse ellipse6"></div>
    <div class="ellipse ellipse7"></div>
    <div class="ellipse ellipse8"></div>
    <div class="ellipse ellipse9"></div>
    


    <div id="content">

        <div id="headline">
            <h1>My work</h1>

            <p>Explore a selection of my work hiere - Interact with projects to see my skills in action.<p>
        </div>

        <div id="join">
            <div id="description">
                <h2>Join</h2>
                <p>JavaScript | Firebase | HTML | CSS</p>
                <span>Task Manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, 
                    assign users and categories</span>

                    <div id="buttons">
                        <a href="https://www.google.com/" target="_blank"><button class="test-button">Live test</button></a>
                        <a href="https://www.github.com/" target="_blank"><button class="github-button">github</button></a>
                    </div>
            </div>

            <div id="project-content">
                <img src="/assets/images/Component 1.png" alt="">
            </div>
        </div>


        <!----->


        <div id="pollo">
            <div id="description">
                <h2>El pollo loco</h2>
                <p>JavaScript | HTML | CSS</p>
                <span>Jump, run and throw game based on object-oriented approach.
                     Help Pepe to find coins and tabasco sala to fight against the crazy hen</span>

                    <div id="buttons">
                        <a href="https://www.google.com/" target="_blank"><button class="test-button">Live test</button></a>
                        <a href="https://www.github.com/" target="_blank"><button class="github-button">github</button></a>
                    </div>
            </div>

            <div id="project-content">
                <img src="/assets/images/El pollo loco.png" alt="">
            </div>
        </div>
    <!------->

    </div>
</section>
