<section>
    <div id="content">

        <div id="left-content">
            <div id="headline">
                <h1>
                    Let's work<br>
                    together
                </h1>

                
            </div>

            
        </div>


        <div id="right-content">
            <div id="text-content">
                <span>
                    Hello, I am frontend developer from Lennestadt, and I love bringing together creativity and
                    modern technologies. With my passion for
                    attractive design and user-friendly interfaces, I work to create great digital experiences.
                </span>

                <span>If you think I’d be a good match for your projects, contact me!</span>
            </div>

        </div>




    </div>
</section>